.swipebutton {
  position: fixed;
  bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.swipebutton .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
.swipebutton_repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}
.swipebutton_close {
  padding: 3vw !important;
  color: #f5b748 !important;
}
.swipebutton_star {
  padding: 3vw !important;
  color: #f5b748 !important;
}
.swipebutton_favorite {
  padding: 3vw !important;
  color: #f5b748 !important;
}
.swipebutton_flash {
  padding: 3vw !important;
  color: #f5b748 !important;
}
